html {
    background-color: #181a1b;
    color: #e8e6e3;
}

body {
    background-color: #181a1b;
    /* background-color: white; */
}

#title {
    text-anchor: end;
    fill: #383838;  
    font-size: 100px; 
    opacity: 0.5;  
}

#axisGroup {
    color: #e8e6e3;
}

.greenLine {
    stroke: green;
    stroke-width: 0.35;
}

.redLine {
    stroke: red; 
    stroke-width: 0.35;
}

.greenCandle {
    fill: #69ff69;
    stroke: green;
    stroke-width: 0.5;
}

.redCandle {
    fill: #ff4141;
    stroke: red; 
    stroke-width: 0.5;
}

.volumeBar {
    fill: gray;
    stroke: white;
    stroke-width: 0.25;
    opacity: 0.25;
}

/* .greenBar {
    fill: #69ff69;
    stroke: green;
}

.redBar {
    fill: #ff4141;
    stroke: red;
} */

.greenText {
    color: #69ff69;
}

.redText {
    color: #ff4141;
}

.tick line {
    stroke:  rgba(255, 255, 255, 0.5);
    stroke-width: 0.3px;
}

#tooltip {
    position: fixed;
    top: 10px;
    left: 0px;
    padding: 5px;
    background-color: rgba(24, 26, 27, 0.75);
    border: solid 1px rgb(216, 212, 207);
    display: none;
}

table {
    border-collapse: collapse;
    font-family: sans-serif;
    font-size: 12px;
}

.mouseLine {
    stroke: white;
    stroke-width: 0.2;
    stroke-dasharray: 4, 2;
}